html { font-size: 10px;}
body {
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #333;
}
h1 {
    font-size: 4rem;
    margin-bottom: .5em;
}
h2 { font-size: 3rem; margin: 1em 0 .25em;}
h3 { font-size: 2.5rem; margin-bottom: .25em;}
p { margin: 0 0 1em;}
a { color: azure;
    text-decoration: none;
}
header {
    background-color: #111111;
    display: flex;
    justify-content: end;
    position: fixed;
    z-index: 100;
    width: 100%;
}
header h1 {
    margin-bottom: 0;
}
header h1 a {
    font-size: 3em;
    display: flex;
    align-items: center;
    margin: .5rem 1rem;
}
header a img {
    margin: 0 1rem;
    order: 1;
}
nav {
    position: absolute;
    top: 100%;
    background-color: #000000;
    width: 100%;
    display: none;
}
nav li {
    padding: 1rem;
    border-bottom: solid 1px #ffffff;
}
nav li a {
    display: block;
}
nav li a:hover {
    color: #5ce1e7;
}
.navToggler:checked ~ nav {
    display: block;
}
.navToggler { display: none;}
.navTogglerMenu {
    position: absolute;
    top: 0;
    left: 1rem;
    height: 100%;
    display: flex;
    align-items: center;
}
.mi {
    color: #ffffff;
}
.menuClose {
    display: none;
}
.navToggler:checked ~ .navTogglerMenu .menuClose {
    display: block;
}
.navToggler:checked ~ .navTogglerMenu .menuOpen {
    display: none;
}
/*nav ends, home begins*/
.hero {
    height: 100vh;
    background-image: url(../img/darkgrain.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sitename {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 250px;
}
.sitename img {
    width: 80%;
    height: auto;
    max-width: 1000px;
}
@keyframes shimmer {
    0% {
        filter: drop-shadow(0 0 0px
        rgba(255, 255, 255, 0.5));
    }
    50% {
        filter: drop-shadow( 0 0 10px
        rgba(255, 255, 255, 0.6));
    }
    100% {
        filter: drop-shadow( 0 0 0px
        rgba(255, 255, 255, 0.5));
    }
}
.shimmer {
    animation: shimmer 5s infinite;
}
footer {
    color: azure;
    text-align: center;
    background-color: #000000;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding-top: 1rem;
    font-family: "Inter", sans-serif;
}

@media screen and (min-width: 800px) {
 .navTogglerMenu {
    display: none;
 }
 header {
    justify-content: start;
 }
 header a img {
    order: 0;
 }
 nav {
    all: unset;
    margin-left: auto;
    align-self: center;
}
 nav ul {
    display: flex;
    margin-right: 1rem;
 }
 nav li {
    border-bottom: none;
 }
 /*nav ends, home begins*/
 .sitename {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 250px;
}
}

@media screen and (min-width: 1200px) {
    header {
        padding: 0 5%;
    }
}